# Eclipse related #
###################
.classpath
.project
.settings/

# Compiled source files #
#########################
*.class
*.dll
*.exe

# Log files #
#############
*.log

# DB files #
############
*.sql
*.sqlite

# Package Files #
#################
*.jar
*.war
*.ear
*.zip
*.gz
*.rar
